
name: "Build and Push Docker Image"

on:
  push:
    branches: [ master ]  

jobs:
  build-and-push:
    runs-on: ubuntu-latest 

    steps:
    - name: "Checkout code"
      uses: actions/checkout@v4 

    - name: "Set up Docker Buildx"
      uses: docker/setup-buildx-action@v3  

    - name: "Login to Docker Hub"  
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.USERNAME_SECRET }}
        password: ${{ secrets.PASSWORD_SECRET }}

    - name: "Build Docker image"  
      run: docker build -t ${{ secrets.USERNAME_SECRET }}/newimage:latest .

    - name: "Push Docker image"  
      run: docker push ${{ secrets.USERNAME_SECRET }}/newimage:latest